[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest/
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
